{% extends 'base.html' %}

{% block title %}
<title>Про Магазин</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Про Магазин</h1>
    <p>Тестовий проект магазину на Python+Flask</p>
    <p class="fs-5 text-body-secondary">Тут повинен бути опис фірми</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Наш основний склад</h5>
                    <p class="card-text">Сучасне обладнання для зберігання товарів та швидкої доставки клієнтам.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Додатковий склад</h5>
                    <p class="card-text">Запаси товарів для підтримки стабільної роботи магазину та швидкої обробки замовлень.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Наші співробітники</h5>
                    <p class="card-text">Команда професіоналів, яка забезпечує якісне обслуговування та швидку доставку.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
